# IDE / Editor
.idea/
.vscode/

# Python
.ipynb_checkpoints/
__pycache__/
*.pyc
.env
.venv/

# OS
.DS_Store

# Data files
data/
*.csv
processed/
lstm_autoencoder.pt

# Images 
figures/

# report 
Part1_Q3_report.tex
Part1_Q3_report.log

.Rhistory
